/* font import */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Goldman&family=Lato&display=swap');
/* default rules */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #071726;
}

/* logo and headings */

#logo {
    float: left;
    font-size: 300%;
    font-weight: 300;
    margin-left: 15px;
    color: white;
}

h1, h2 {
    font-family: Caprasimo, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
}

/* navigation bar */

#menu, #logo {
    line-height: 75px; /* accommodates logo & menu; auto aligns vertically*/
}

#menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

#menu li {
    margin-right: 15px;
    margin-left: 3px;
    font-size: 140%;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover, .glow {
    color: #70e7e7;
    text-shadow: 0 0 10px #14e0e0;
}

/* header */

header {
    height: 75px;
    background-color: rgba(63, 64, 153, .9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}


/* hero image */

#hero-container {
    height: 630px;
    width: 100%;
    overflow: none;
    position: relative;
    top: 0;
    left: 0;
}

#hero-image {
    height: 630px;
    width: 100%;
    background-image: url('../images/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* cover text */

#cover-text {
    right: 8%;
    bottom: 2%;
    width: 300px;
    position: absolute;
    text-align: center;
    font-size: 155%;
    line-height: 35px;
    color: #14e0e0;
    text-shadow: 0 0 20px #79ffff;
}

/* footer */

footer {
    height: 75px;
    width: 100%;
    background-color: #3F4099;
    left: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    color: white;
}