/* font import */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Goldman&family=Lato&display=swap');

/* default rules */
* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-padding-top: 75px;
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #071726;
    background-color: rgb(43, 22, 97);
    padding-top: 74px;
    padding-bottom: 74px;
}

/* logo and headings */
#logo {
    float: left;
    font-size: 300%;
    font-weight: 300;
    margin-left: 15px;
    color: white;
}

h1 {
    font-family: Caprasimo, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
}

h2 {
    color: #393a9b;
    text-align: center;
    font-size: 175%;
    font-weight: 50;
}

/* navigation bar */
#menu,
#logo {
    line-height: 75px;
}

#menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

#menu li {
    margin-right: 15px;
    margin-left: 3px;
    font-size: 140%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #70e7e7;
    text-shadow: 0 0 10px #14e0e0;
}

/* header */
header {
    height: 75px;
    background-color: rgba(43, 22, 97, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

/* hero image */
#hero-container {
    height: 630px;
    width: 100%;
    overflow: none;
    position: relative;
    top: 0;
    left: 0;
}

#hero-image {
    height: 630px;
    width: 100%;
    background-image: url('../images/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* cover text */
#cover-text {
    right: 8%;
    bottom: 2%;
    width: 300px;
    position: absolute;
    text-align: center;
    font-size: 155%;
    line-height: 35px;
    color: #14e0e0;
    text-shadow: 0 0 20px #79ffff;
}

/* groups */
#groups {
    background: rgb(28,9,73);
    background: linear-gradient(180deg, rgba(28,9,73,1) 0%, rgba(14,51,93,1) 100%);
}

#groups-heading {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

#groups-container {
    display: flex;
    flex-direction: column;
    max-width: 1800px;
    margin: auto;
}

.groups-row-left {
    display: flex;
    flex-direction: row;
}

.groups-row-right {
    display: flex;
    flex-direction: row-reverse;
}

#groups-container h2,h3,p {
    color: white;
}

.box {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
}

.box>h3 {
    font-size: 150%;
    text-align: center;
    line-height: 50px;
}

.box-maroon {
    background-color: #94176B;
}

.box-purple {
    background-color: #422dc9;
}

.box-blue {
    background-color: #04cbd9dc;
}

.paragraph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: 20px 40px;
}

.paragraph-container>p {
    font-size: 125%;
    text-align: center;
    line-height: 30px;
    padding: 20px;
}

.maroon-border>p {
    border-top: 4px solid #94176B;
    border-bottom: 4px solid #94176B;
}

.purple-border>p {
    border-top: 4px solid #422dc9;
    border-bottom: 4px solid #422dc9;
}

.blue-border>p {
    border-top: 4px solid #04cbd9dc;
    border-bottom: 4px solid #04cbd9dc;
}

/* meetups */
#meetups-container-image {
    height: 550px;
    padding: 0 10px;
    background-image: url('../images/meetups-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2%;
}

#meetups-heading {
    height: 75px;
    width: 100%;
    background-color: rgba(14,51,93,1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

.meetups-details {
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    justify-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.meetups-details > h3 {
    padding: 5% 0;
    font-size: 128%;
}

.meetups-details > p {
    padding: 2%;
    line-height: 30px;
    font-size: 125%;
}

/* about us */
#about-us {
    background: rgb(11,65,111);
    background: linear-gradient(180deg, rgba(11,65,111,1) 0%, rgba(27,11,74,1) 100%);
    padding-bottom: 30px;
}

#about-us-heading {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

#about-us > p {
    text-align: center;
    font-size: 125%;
    margin: 20px auto;
    max-width: 1100px;
}

#about-us #bottom-paragraph {
    margin-bottom: 0;
}

/* footer */
footer {
    height: 75px;
    width: 100%;
    background-color: rgba(43, 22, 97, 1);
    left: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
}

#footer-links {
    line-height: 75px;
    list-style: none;
    display: flex;
    justify-content: center;
}

#footer-links li {
    display: flex;
    margin-right: 25px;
    margin-left: 3px;
    font-size: 140%;
    flex-direction: row;
}

/* form */