/* font import */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Goldman&family=Lato&display=swap');

/* default rules */
* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-padding-top: 65px;
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #071726;
    background-color: rgb(43, 22, 97);
    padding-top: 64px;
    padding-bottom: 64px;
}

/* logo and headings */
#logo {
    float: left;
    font-size: 270%;
    font-weight: 300;
    margin-left: 25px;
    color: white;
}

h1 {
    font-family: Caprasimo, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
}

h2 {
    font-size: 160%;
    font-weight: 50;
}

/* navigation bar */
#menu,
#logo {
    line-height: 65px;
}

#menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

#menu li {
    margin-right: 25px;
    margin-left: 3px;
    font-size: 135%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #70e7e7;
    text-shadow: 0 0 10px #14e0e0;
}

/* header */
header {
    height: 65px;
    background-color: rgba(43, 22, 97, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

/* hero image */
#hero-container {
    height: 630px;
    width: 100%;
    overflow: none;
    position: relative;
    top: 0;
    left: 0;
}

#hero-image {
    height: 630px;
    width: 100%;
    background-image: url('../images/hero-image-cropped.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* cover text */
#cover-text {
    right: 0;
    bottom: 0;
    width: 520px;
    position: absolute;
    text-align: center;
    font-size: 155%;
    line-height: 35px;
    border-radius: 15px 0 0 15px;
    padding: 1% 0.5%;
    background: linear-gradient(180deg, rgba(28,9,73,0.95) 20%, rgba(9, 56, 97, 0.95) 100%);
    animation: fadeIn 5s;
}

#cover-text p {
    padding: 1% 2.5%;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* groups */
#groups {
    background: rgb(28,9,73);
    background: linear-gradient(180deg, rgba(28,9,73,1) 0%, rgba(14,51,93,1) 100%);
}

#groups-heading {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

#groups-container {
    display: flex;
    flex-direction: column;
    max-width: 1800px;
    margin: auto;
}

.groups-row-left {
    display: flex;
    flex-direction: row;
}

.groups-row-right {
    display: flex;
    flex-direction: row-reverse;
}

#groups-container h2,h3,p {
    color: white;
}

.groups-title {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 60px;
    font-size: 150%;
    line-height: 40px;
}

.box-maroon {
    background-color: #94176B;
}

.box-purple {
    background-color: #422dc9;
}

.box-blue {
    background-color: #04cbd9dc;
}

.groups-paragraph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: 20px 40px;
}

.groups-paragraph-container>p {
    font-size: 125%;
    text-align: center;
    line-height: 30px;
    padding: 20px;
}

.maroon-border>p {
    border-top: 4px solid #94176B;
    border-bottom: 4px solid #94176B;
}

.purple-border>p {
    border-top: 4px solid #422dc9;
    border-bottom: 4px solid #422dc9;
}

.blue-border>p {
    border-top: 4px solid #04cbd9dc;
    border-bottom: 4px solid #04cbd9dc;
}

/* meetups */
#meetups-heading {
    height: 75px;
    width: 100%;
    background-color: rgba(14,51,93,1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

#meetups-container-image {
    height: 500px;
    padding: 0 20px;
    background-image: url('../images/meetups-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1%;
    position: relative;
}

#first-two-meetups, #second-two-meetups {
    display: flex;
    position: relative;
    flex: 1;
    width: 50%;
    height: 80%;
    gap: 2%;
}

.meetups-details {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    justify-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.meetups-title {
    padding: 6%;
    font-size: 150%;
}

.title-blue {
    color: #05595fdc;
}

.title-purple {
    color: #422dc9;
}

.title-maroon {
    color: #94176B;
}

.meetups-details > p {
    padding: 2%;
    line-height: 30px;
    font-size: 125%;
    color: #2d2942;
}

.meetups-details .meetups-location {
    padding-bottom: 4%;
    line-height: 20px;
    font-size: 128%;
}

.meetups-link-maroon {
    color: #2d2942;
    text-decoration: underline #94176B;
}

.meetups-link-purple {
    color: #2d2942;
    text-decoration: underline #422dc9;
}

.meetups-link-maroon:hover {
    color: #94176B;
    text-shadow: 0 0 10px #94176B;
}

.meetups-link-purple:hover {
    color: #422dc9;
    text-shadow: 0 0 10px #422dc9;
}

/* about us */
#about-us {
    background: rgb(11,65,111);
    background: linear-gradient(180deg, rgba(11,65,111,1) 0%, rgba(27,11,74,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-us-heading {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

#about-us-info {
    border-left: 6px solid #422dc9;
    border-right: 6px solid #422dc9;
    margin: 0 20px 30px 20px;
}

#about-us-info > p {
    text-align: center;
    font-size: 125%;
    margin: 20px 40px;
    max-width: 1100px;
}

/* footer */
footer {
    height: 65px;
    width: 100%;
    background-color: rgba(43, 22, 97, 1);
    bottom: 0;
    position: fixed;
}

#footer-links {
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-links li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
    margin: 0 10px;
}

.socials-icons {
    margin: 0 10px;
    font-size: 140%;
}

#footer > p {
    font-size: smaller;
    width: 100%;
    text-align: center;
}

/* form background image */
#form-background-container {
    height: 800px;
    width: 100%;
    overflow: none;
    position: relative;
    top: 0;
    left: 0;
}

#form-background-image {
    height: 800px;
    width: 100%;
    background-image: url('../images/join-background-image.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1% 0;
    gap: 2%;
}

/* form cover text */
#form-cover-text {
    color: white;
    max-width: 880px;
    position: relative;
    background-color: rgb(11,65,111);
    border-radius: 10px;
    padding: 0.5%;
    text-align: center;
    margin: 0 50px;
}

/* form */
#form-section {
    color: white;
    max-width: 880px;
    position: relative;
    background-color: rgba(148, 23, 107, 0.6);
    border-radius: 10px;
    padding: 0.5%;
    font-size: 125%;
    margin: 0 50px;
}

form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#form-heading {
    color: white;
    padding: 1%;
    margin-bottom: 0.5%;
    text-align: center;
}

#user-details > input {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 0.8%;
    width: 45%;
}

.form-margin {
    margin: 1%;
}

select, input {
    font-size: 100%;
}

#submit {
    background-color: #2b1661;
    color: white;
    margin-top: 2%;
    padding: 0.8%;
    border-radius: 10px;
}

#submit:hover {
    color: #70e7e7;
    text-shadow: 0 0 10px #14e0e0;
    font-size: 105%;
}

/* thank you page */
#thank-you-background-container {
    height: 100vh;
    width: 100%;
    overflow: none;
    position: relative;
    top: 0;
    left: 0;
}

#thank-you-background-image {
    height: 100vh;
    width: 100%;
    background-image: url('../images/thank-you-background-image.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* thank you page cover text */
#thank-you-background-image {
    display: flex;
    justify-content: center;
}

#thank-you-cover-text {
    max-width: 1000px;
    max-height: 250px;
    background-color: rgba(11,65,111,0.8);
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 18px 50px;
    box-shadow: 5px 5px #2b1661;
}

#thank-you-cover-text .thank-you-welcome-text {
    color: white;
    position: relative;
    padding: 8px 40px;
    font-size: 150%;
}

#thank-you-cover-text > p {
    color: white;
    position: relative;
    padding: 8px 40px;
    font-size: 125%;
}

/* media queries */
@media screen and (max-width: 1210px) { 
    #hero-container, #hero-image {
        height: 570px;
    }

    #cover-text {
        width: 500px;
        padding: 1% 2%;
    }

    #cover-text p {
        padding: 1.5% 2.5%;
        font-size: 95%;
    }

    .groups-title {
        margin: 10px;
    }

    .groups-paragraph-container {
        width: 750px;
        margin: 10px;
    }

    .groups-paragraph-container > p {
        width: 750px;
        margin: 10px;
        padding: 15px 10px;
    }

    #meetups-container-image {
        height: 600px;
        flex-direction: column;
        gap: 2%;
        padding: 20px;
    }

    #first-two-meetups, #second-two-meetups {
        width: 100%;
        height: 50%;
    }

    .meetups-title {
        padding: 1.5% 3%;
    }

    .meetups-details > p {
        padding: 1.25% 3%;
    }

    .meetups-details .meetups-location {
        padding: 0 3% 1% 3%;
        line-height: 32px;
    }

    #form-background-container, #form-background-image {
        height: 700px;
    }

    #form-heading {
        font-size: 150%;
    }

    form {
        gap: 1.5%;
    }

    #submit {
        margin-top: 1%;
    }

    #user-location {
        margin-bottom: 1.5%;
    }

    #thank-you-cover-text .thank-you-welcome-text {
        padding: 7px 40px;
    }

    #thank-you-cover-text {
        padding: 6px 40px;
    }
}

@media screen and (max-width: 989px) {
    .groups-title {
        margin: 6px;
    }

    .groups-paragraph-container {
        margin: 6px;
        width: 650px;
    }

    .groups-paragraph-container > p {
        width: 650px;
        margin: 6px;
        padding: 5px;
    }

    #meetups-container-image {
        height: 650px;
    }

    #form-background-container, #form-background-image {
        height: 800px;
    }

    #form-background-image {
        gap: 0;
        padding: 0;
    }

    #form-cover-text {
        margin: 15px 10px 10px 10px;
        max-width: 950px;
    }

    #form-section {
        margin: 10px;
        max-width: 950px;
    }

}

@media screen and (max-width: 910px) {
    #hero-image {
        background-image: url('../images/hero-image-medium.webp');
    }
    
    #cover-text {
        width: 500px;
    }

    .groups-title {
        width: 180px;
        height: 180px;
        font-size: 145%;
        line-height: 35px;
    }

    .groups-paragraph-container, .groups-paragraph-container > p {
        width: 600px;
    }
}

@media screen and (max-width: 810px) {
    html {
        scroll-padding-top: 110px;
    }

    body {
        padding-top: 100px;
    }

    header {
        height: 100px;
        display: flex;
        flex-direction: column;
    }

    #logo {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    #menu {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 20px;
    }

    #menu li {
        margin: 0 10px;
    }

    #hero-container, #hero-image {
        height: 500px;
    }

    .groups-paragraph-container, .groups-paragraph-container > p {
        width: 550px;
    }

    .groups-paragraph-container > p {
        font-size: 122%;
    }
}

@media screen and (max-width: 760px) {
    #cover-text {
        width: 450px;
    }

    #cover-text p {
        font-size: 90%;
    }

    .groups-paragraph-container, .groups-paragraph-container > p {
        width: 500px;
    }

    .groups-paragraph-container > p {
        font-size: 120%;
    }

    #meetups-container-image {
        height: 700px;
    }
}

@media screen and (max-width: 700px) {
    .groups-row-left, .groups-row-right {
        flex-direction: column;
        align-items: center;
    }

    .groups-title {
        width: 550px;
        height: 50px;
        font-size: 140%;
        line-height: 25px;
        border-radius: 10px;
    }

    .groups-br {
        display: none;
    }

    .groups-paragraph-container {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    #meetups-container-image {
        gap: 1%;
        padding: 7px;
    }

    .meetups-details > p {
        padding: 1%;
        font-size: 120%;
        line-height: 28px;
    }

    .meetups-title {
        font-size: 140%;
    }

    .meetups-details .meetups-location {
        padding-bottom: 2%;
        font-size: 125%;
    }

    #hero-container, #hero-image {
        height: 475px;
    }

    #form-background-image {
        background-image: url(../images/join-background-image-medium.webp);
    }

    #thank-you-cover-text {
        max-height: 280px;
        padding: 1.5px 12px;
    }
}

@media screen and (max-width: 610px) {
    #first-two-meetups, #second-two-meetups {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    #meetups-container-image {
        padding: 10px 6px;
        height: 1200px;
        gap: 0;
    }

    .meetups-details {
        width: 550px;
        margin: 6px 15px;
    }

    #about-us-info {
        width: 538px;
    }
}

@media screen and (max-width: 580px) {
    #hero-container, #hero-image {
        height: 440px;
    }

    #cover-text {
        width: 400px;
        padding: 1%;
    }

    #cover-text p {
        font-size: 87%;
        padding: 1% 2%;
    }

    .groups-title {
        width: 460px;
        height: 40px;
    }

    .groups-paragraph-container,  .groups-paragraph-container > p {
        width: 440px;
    }

    .meetups-details {
        width: 500px;
    }

    #form-cover-text, #form-heading {
        font-size: 130%;
    }

    #user-details > input {
        width: 80%;
    }

    select, input {
        font-size: 90%;
    }

    #submit {
        font-size: 100%;
    }

    #thank-you-cover-text {
        max-height: 320px;
        padding: 2px 10px;
    }

    #thank-you-cover-text .thank-you-welcome-text, #thank-you-cover-text p {
        padding: 5px 20px;
    }
}

@media screen and (max-width: 530px) {
    .meetups-details {
        width: 460px;
    }
}

@media screen and (max-width: 480px) {
    #logo {
        font-size: 250%;
    }

    #menu li {
        margin: 1px 10px;
        font-size: 130%;
    }

    #hero-container, #hero-image {
        height: 400px;
    }

    #cover-text {
        width: 350px;
        padding: 0.5%;
    }

    #cover-text p {
        font-size: 83%;
        padding: 0.5% 2%;
    }

    .groups-title, .groups-paragraph-container,  .groups-paragraph-container > p {
        width: 380px;
    }

    #meetups-container-image {
        gap: 1%;
    }

    .meetups-details {
        width: 380px;
    }

    #thank-you-background-image {
        background-image: url(../images/thank-you-background-image-medium.webp);
    }

    #thank-you-cover-text .thank-you-welcome-text, #thank-you-cover-text p {
        padding: 6px;
    }

    #thank-you-cover-text {
        margin: 10px;
    }

    .social-name {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #logo {
        font-size: 230%;
    }
    
    #menu li {
        margin: 1px 7px;
        font-size: 110%;
    }

    #hero-image {
        background-image: url('../images/hero-image-small.webp');
    }

    #cover-text {
        width: 300px;
    }

    #cover-text p {
        font-size: 78%;
    }

    .groups-title, .groups-paragraph-container, .groups-paragraph-container > p, .meetups-details {
        width: 330px;
    }

    #meetups-container-image {
        gap: 0;
    }

    #form-background-image {
        background-image: url(../images/join-background-image-small.webp);
    }

    #thank-you-cover-text {
        margin: 12px 10px;
        padding: 2px 5px;
    }
    
    #thank-you-cover-text .thank-you-welcome-text {
        padding: 5px;
        font-size: 140%;
    }

    #thank-you-cover-text {
        padding: 5px;
    }
}

@media screen and (max-width: 350px) {
    #cover-text {
        width: 280px;
    }

    #cover-text p {
        font-size: 75%;
        padding: 0.3% 1%;
        line-height: 30px;
    }

    .groups-title, .groups-paragraph-container, .groups-paragraph-container > p {
        width: 310px;
    }
}